.background-container {
    margin: 1em;
    height: auto;
    overflow: scroll;
}
.results-container {
    margin: 5em;
}

.results {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

ul {
    list-style: none;
}

ul li::before {
    content: "•";
    color: white;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}